*,
::after,
::before {
    box-sizing: border-box;
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    background-color: #020202;
    background-image: url("../img/background-body.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: #FFFFFF;
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr min-content;
}

.page-header-navigation {
    display: grid;
}

.navigation-main-menu {
    background-color: #000000;
    min-height: 72px;
    color: #FFFFFF;
}

.header-navigation-logo {
    order: 1;
    text-align: center;
}